/* Author: Sarath Babu */
@font-face {
    font-family: 'Cousine';
    src: url("fonts/CousineV2.eot");
    src: url("fonts/CousineV2.woff2") format("woff2"), 
    url("fonts/CousineV2.woff") format("woff"),
    url("fonts/CousineV2.ttf") format("truetype"), 
    url("fonts/CousineV2.svg") format("svg");    
}

@font-face {
    font-family: 'Courier';
    src: url("fonts/CourierV3.eot");
    src: url("fonts/CourierV3.woff2") format("woff2"), 
    url("fonts/CourierV3.woff") format("woff"),
    url("fonts/CourierV3.ttf") format("truetype"), 
    url("fonts/CourierV3.svg") format("svg");    
}


body {
	font-family: 'Cousine';
	color: black;
}

h1 {
        white-space:nowrap;
	font-size: 35px;
	font-family: 'Courier';
	margin-left: 550px;
	color: black;	
}

h2 {
        white-space:nowrap;
	font-size: 30px;
	font-family: 'Courier';
	text-align: center;
	color: black;
}

h3 {
        white-space:nowrap;
	font-size: 25px;
	font-family: 'Courier';
	text-align: left;
	color: black;
}

a {
	color: black;
	text-decoration: none;
}

.command {
    margin-left: 45px;
    margin-right: 60px;
    font-size: 12pt;
    font-family: 'Courier';
    background-color: #ebebe0;
    background-color: #f5f5ef;
    color: black;
}

ul {
    line-height: 20px;
    list-style: square;
}

li:before {
    color: green;
}

img {
    display: inline-block;
}

table {
    margin: 5px 20px 5px 20px; 
}

#menu-wrapper {
    overflow: hidden;
    height: 47px;
    width: 1625px;
    border-top: 4px solid #1603fc;
    border-bottom: 4px solid #1603fc; 
    margin-left: 50px;
}

#menu {
    overflow: auto;
}

#menu ul{
    text-decoration: none;
    list-style: none;    
}

#menu li {
    font-family: "Cousine";
    font-size: 16px;
    white-space: nowrap;
    display: inline-block;    
    padding: 0px 42px 0px 35px;
}

#menu a {
    text-transform: uppercase;
    color: black;
}

#menu a:hover {
    color: #07fc03;
}

#fullpage {
    width: 1225px;
}

#article {
    margin: 30px 100px 0px 100px;
    text-align: justify;    
    line-height: 25px;
    width: 1100px;
}

#article h2 {
	font-size: 30px;
	font-family: 'Courier';
	text-align: center;
	color: black;
}

#article h3 {
    font-family: 'Courier';
    color: black;
}

#article h4 {
    font-family: 'Cousine';
}

#article li{
    line-height: 25px;
}

#leftarticle{
    margin:30px 20px 0px 60px;
    width: 850px;
    text-align: justify;
    line-height: 25px;
    float: left; 
}

#leftarticle h3 {
    font-family: 'Courier';
    color: black;
}

#recentarticle{
    width: 245px;
    float: left;
    margin-right: 20px;
    margin-left:30px;
}

#recentarticle h3 {
    font-family: 'Courier';
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 22px;
    text-transform: uppercase;
    color: #003380;
}

#recentarticle li {
    line-height: 20px;
}

#footer {
    overflow: hidden;
    width: 1225px;
    border-top: 1px solid #003380;
    margin: 30px 10px 30px 50px;
    text-align: center;
}
